body{
    background:url("../images/background6.jpg");
    background-position:center;
    margin:0;  
}

header{
    
    width:250px;
   
    color:#FFC500;
    font-size:20px;
}
#logo{
    margin-left:550px;
    height:250px;
    width:300px;
}
#instructions{
    width:450px;
    text-align:center;
    background: url("../images/map.png");
    font-family:"Henny Penny", cursive;
    float:left;
    margin-left:35px;
    font-weight:900;
    padding:10px;
}

#gryffindor{
    width:120px;
    height:110px;
    margin-left:75px;
    margin-top:50px; 
    margin-left:50px;
     
}
#ravenclaw{
    width:120px;
    height:110px;
    margin-left:75px;
    margin-top:50px; 
    margin-left:50px;  
}

#slytherin{
    width:120px;
    height:110px;
    margin-top:50px; 
    margin-left:-150px; 
    
}
#hufflepuff{
    width:120px;
    height:110px;
    margin-top:50px;
    margin-left:-150px;   
}

.randomNumberBox{
    background:url("../images/sortingHat.jpg");
    background-position: center;
    background-size:115px 115px;
    color:yellow;
    padding:20px;
    font-family:"Henny Penny", cursive;
    text-align:center;     
    margin-top:50px;
    margin-left:120px;
    height:100px;
    width:120px;
    
}
.winLossBox{
    color:yellow;
    background:url("../images/harry.jpg");
    background-position: left;
    background-size:350px 125px;
    background-repeat: no-repeat;
    font-family:"Henny Penny", cursive;
    font-family:"Henny Penny", cursive;
    text-align:center;      
    margin-top:50px; 
    
   
  
    
}
.counter{
    color:yellow;
    background:url("../images/hw1.png");
    background-position: center;
    background-size:350px 200px;
    font-family:"Henny Penny", cursive;
    text-align:center;  
    margin-top:-125px;
    margin-left:450px;
    height:125px;
    width:350px;
    padding:15px;
    
    
}

